:root {
    --bs-link-color: #5c2302;
    --bs-link-hover-color:#381501;
}

.btn {
    --bs-btn-bg: #5c2302;
    --bs-btn-border-color: #381501;
    --bs-btn-hover-bg:  #381501;
    --bs-btn-hover-border-color: #381501;
    --bs-btn-active-bg: #2e1101;
}

main {
    margin-top: 5rem;
}

section {
    scroll-margin-top: 6rem;
}

.navbar-brand img {
width: 50px;
}

.carousel-item {
    height: 500px;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(31,31,31));
    position: absolute;
}

.card-menu img {
    height: 300px;
    object-fit: cover;
}

iframe {
    width: 100%;
}
